/* || Font imports*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* || Colors and other variables*/
:root {
    --bg-dark: #08143F;
    --bg-light: #c4cded;
    --bg-transparent: #08143f36;
    --accent: #e9b442;
    --text-light: #ffffff;
    --text-dark: #08143F;
    --canvas: #08143F;
    --explanation-overlay: #c3c3c35a;
}


html {
    scroll-snap-type: y mandatory;
    margin: 0;
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* || Header and NavBar*/
header {
    width: 100%;
    height: 5vh;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav {
    width: 100%;
    height: 100%;
    margin: auto;
    /* background-color: var(--bg-transparent); */
}

.nav-list {
    position: relative;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-item a, .nav-item span {
    text-decoration: none;
    color: var(--text-light);
    transition: all 200ms ease-in-out;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

.nav-item a:hover, .nav-item span:hover{
    color: var(--accent);
    cursor: pointer;
}


/* || Load screen */
#load-screen{
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding-top: 40vh;
    padding-left: 40vw;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

/* || Page is split into 3 sections that take up entire screen */
section {
    height: 90vh;
    scroll-snap-align: start;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    width: auto;
    left: 0;
    right: 0;
    z-index: 2;
}

#section1 {
    position: fixed;
    top: 0;
    background-color: var(--bg-transparent);
    z-index: 1;
}

#section2 {
    height: 90vh;
    position: relative;
    margin-top: 100vh;
    background-color: black;
    color: var(--text-dark);
    scroll-snap-align: start end;
    margin-bottom: 100vh;
    z-index: 3;
}

/* Hidden section at the very bottom of the page allows scroll-snap-align to function */
#hidden-section {
    height: 0;
    scroll-snap-align: end;
    padding-top: 0;
}

#section3 {
    position: fixed;
    background-color: var(--bg-dark);
    color: var(--text-light);
    bottom: 0;
    z-index: 0;
}

/* || First Section */
main {
    width: 100%;
    color: var(--text-light);
    padding: 0;
    margin: 0;
}

#d3d {
    background-color: black;
}

.background-animation-container {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0;
    position: fixed;
}

.title-container {
    margin-top: 5%;
    margin-bottom: 10%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}

/* || Section 2 carousel */
.glide {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
}

.glide__track {
    height: 100%;
}

.glide__slide {
    margin: 0;
    text-align: center;
    background-color: black;
}

.glide__slides {
    height: 100%;
    text-align: center;
}

.glide__arrows {
    width: 100%;
    position: absolute;
    top: 48%;
    overflow: visible;
}

.glide__arrow {
    position: absolute;
    width: 3em;
    height: 3em;
    border: 3px solid var(--accent);
    border-left: 0;
    border-top: 0;
}

.glide__arrow--next {
    right: 3em;
    transform: rotate(-45deg);
}

.glide__arrow--prev {
    left: 3em;
    transform: rotate(135deg);
}

/* || Projects that appear on slides */
.project-container {
    background-color: var(--bg-dark);
    height: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.project-intro {
    position: relative;
    font-family: "Lato";
    font-size: small;
    background-color: black;
    color: var(--text-light);
    z-index: 5;
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
}

.project-title {
    position: relative;
    font-size: large;
    color: var(--text-light);
    z-index: 5;
    bottom: -20%;
    font-family: "Roboto Mono", monospace;
    height: 10%
}

.project-explanation {
    position: relative;
    bottom: 0;
    color: white;
    bottom: -20%;
    font-family: "Roboto Mono", monospace;
    height: 10%;
}

.project-continue {
    position: relative;
    bottom: 0;
    bottom: -25%;
    font-size: large;
    font-family: "Roboto Mono", monospace;
    height: 10%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


/* || Section 3: About me */

.my-picture {
    height: 100%;
    border-radius: 2%;
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    top: 0;
    height: 10%;
}

#section3 > .container {
    justify-content: space-between;
    height: 80%;
    margin-bottom: 5%;
}

.about-me {
    flex: 1 0 auto;
    height: 100%;
    width: 40%;
    margin: 2rem;
}

.picture-container {
    text-align: right;
}


/* || Utilities */
.arrow {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: rotate(0deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid grey;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* || Contact popup box */
.popup {
    position: fixed;
    border-radius: 0.3rem;
    height: 60%;
    width: 15%;
    background-color: var(--bg-light);
    top: 8%;
    right: 3%;
    z-index: 6;
}

.contact-box {
    text-align: center;
    margin: 1rem;
    opacity: inherit;
}

.contact-close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 16px;
    width: 16px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    opacity: inherit;
}

.contact-box img {
    left: 50%;
    height: 2rem;
}

.popup a, .popup p {
    font-size: 1rem;
    display: block;
    text-decoration: none;
    color: var(--text-dark);
    opacity: inherit;
}

/* Add animation (fade in the popup) */
@keyframes unfoldIn {
    from {height: 0; width: 5px; color: transparent;}
    35% {height: 60%; width: 5px; color: transparent;}
    70% {height: 60%; width: 15%; color: transparent;}
    100% {color: var(--text-dark)}
}

@keyframes fadeIn {
    from {opacity: 0;}
    50% {opacity: 0;}
    to {opacity: 1;}
}